[submodule "lib/shower"]
	path = lib/shower
	url = http://github.com/rhiokim/shower.git
[submodule "source/themes"]
	path = source/themes
	url = http://github.com/haroopress/haroopress-themes.git
[submodule "lib/highlight.js"]
	path = lib/highlight.js
	url = git@github.com:isagalaev/highlight.js.git
