body {
    font-family: 'Magra', AppleSDGothicNeo, sans-serif;
    font-size: 12px;
	line-height: 17px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
}

p, h1, h2, h3, h4, h5, h6, .nav .nav-header {
	color: #4b3925;
    font-family: 'Magra', AppleSDGothicNeo, sans-serif;
}

hr {
    border-top: 1px solid #c8ab83;
    border-bottom: 1px solid #e3cfb4;
}

.navbar .nav > li > a {
    font-size: 14px;
}
.navbar-inner {
    background-color: transparent;
    padding: 10px;
}

.page-header {
    border-bottom: 1px solid #e3cfb4;
}

.well{
    border: 1px solid #e3cfb4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.well.bg {
    background: url(/img/article-bg-white.png);
}

.well {
    background: url(/img/article-bg-black.png);
}

.markdown {
	color: #2a1f13;
}

.markdown img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.left30 {
    margin-left: 30px;
}

ul.share li {
    width: 157px;
    height: 40px;
    padding: 66px 0 0 14px;
    margin: 10px 0 0 0;
}

ul.share li.twitter {
    background: url(/img/pages/share-twitter.png);
}
ul.share li.facebook {
    background: url(/img/pages/share-facebook.png);
}
ul.share li.google {
    background: url(/img/pages/share-googleplus.png);
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    top: 0;
  }
}