<!-- Masthead (blueprinty thing)
================================================== -->
<header class="jumbotron masthead" id="overview">
    <div class="inner">
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span3">
                    <%- partial('plugins/category-menu', { categories: categories }) %>
                    <%- partial('plugins/contributors', { contributors: config.plugins.contributors, authors: authors }) %>
                </div>
                <div class="span9">
                    <div class="well bg">
                        <div class="page-header">
                            <h1>Blog Archives</h1>
                        </div>
                    <%
                        var y, m, year, month;
                        dates.index.forEach(function(item) {
                            y = item[0];
                            year = item[1];
                    %>
                        <h2><%= y %></h2>
                        <%
                            year.forEach(function(item) {
                                m = item[0];
                                month = item[1];
                        %>
                        <section class="comments">
                            <article class="comment">
                                <a class="comment-img" href="/authors/#">
                                    <img src="" alt="" width="50" height="50">
                                </a>
                                <div class="comment-body">
                                    <div class="text">
                                        <p>title... <a href="/post/#">read</a></p>
                                    </div>
                                    <p class="attribution">by <a href="/authors/#" >author</a> at time, dd mm</p>
                                </div>
                            </article>
                        </section>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->
​