
                    <li class="nav-header">Author List</li>
                    <li><a href="/authors"><i class="icon-home"></i> Home</a></li>
                    <% for(var author in authors) { %>
                    <li><a href="/authors/<%= author %>"><i class="icon-user"></i> <%= author %></a></li>
                    <% } %>