			<div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Categories</li>
                    <li class="active"><a href="/category"><i class="icon-white icon-home"></i> Home</a></li>
                    <% for(var cate in categories) { %>
                    <li><a href="/category/<%= cate %>"><i class="icon-book"></i> <%= cate %></a></li>
                    <% } %>
                </ul>
            </div>