
            <div id="author" class="well">
                <div>
                    <h3>About This Site</h3>
                    <p>
                        이 사이트는 <a href="http://github.com/rhiokim/haroog" target="_target">haroopress</a> 엔진으로 구축되어진 사이트입니다.
                    </p>
                </div>
            </div>