                    <% if(prev || next) { %>
                        <div class="row-fluid">
                            <% if(next) { %>
                            <div class="pull-right">
                                <a href="/post/<%= next._file %>" class="btn btn-info"><%= next.head.title %> <i class="icon-white icon-chevron-right"></i></a>
                            </div>
                            <% } %>

                            <% if(prev) { %>
                            <div class="pull-left">
                                <a href="/post/<%= prev._file %>" class="btn btn-info"><i class="icon-white icon-chevron-left"></i> <%= prev.head.title %></a>
                            </div>
                            <% } %>
                        </div>
                    <% } %>