
                    <li class="nav-header">Another list header</li>
                    <li><a href="/authors"><i class="icon-user"></i> Authors</a></li>
                    <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                    <li><a href="#"><i class="icon-flag"></i> Help</a></li>