<ul id="tweets">
    <li class="loading">Status updating...</li>
  </ul>
  <script type="text/javascript">
//    $.domReady(function(){
//      getTwitterFeed("rhiokim", 4, false);
//    });
  </script>