    <% if(display) { %>
        <div class="well _tweets">
            <div class="pull-right">
                <a href="/tweets"><i class="icon-info-sign"></i></a>
            </div>
            <h6>tweets</h6>
            <div class="progress progress-info progress-striped active">
                <div class="bar" style="width: 10%;"></div>
            </div>
        </div>
        <script>
            $(document.body).ready(function(){
              getTwitterFeed("<%= user %>", <%= tweetCount %>, false);
            });
        </script>
    <% } %>
