<!-- Masthead (blueprinty thing)
================================================== -->
<header class="jumbotron masthead" id="overview">
    <div class="inner">
    </div>
</header>


<div class="container">
	<div class="subnav">
		<ul class="nav nav-pills">
			<li class="active"><a href="#정적페이지">정적페이지</a></li>
			<li><a href="#하루프레스">하루프레스</a></li>
			<li><a href="#tables">Tables</a></li>
			<li><a href="#forms">Forms</a></li>
			<li><a href="#buttons">Buttons</a></li>
			<li><a href="#icons">Icons by Glyphicons</a></li>
		</ul>
	</div>
    <div class="row">
		<div class="span12">
			<div class="well markdown">
				<%- page.html %>
			</div>
		</div>
    </div>
</div><!-- /container -->


<section id="#typography">aaa</section>