header {
    margin-top: 80px;
}

body {
    background: url('/img/document-bg.jpg');
    background-attachment: fixed;
    /*color: #f4e8d3;*/
}

footer {
    margin: 30px 0 20px 0;
    color: #f4e8d3;
}

h1, h2, h3, h4, h5, h6 {
    /*color: #c3b498;*/
}

/*****************
 *
 *****************/
.navbar-inner {
    height: 50px;
    background-image: url('/img/opacity-bg-black50.png');
    background-color: transparent;
}

.navbar .brand {
    padding: 13px 20px 12px;
}
.navbar .nav {
    padding: 5px 20px 12px;
}

.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  /*float: right;*/
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar-fixed-top .brand:hover {
  text-decoration: none;
}


/*****************
 *
 *****************/

#author {
    color: #000;
}

#author h1,
#author h2,
#author h3,
#author h4,
#author h5 {
    /*color: #000;*/
}

/***************************
 * blog article style
 **************************/
#article {
  /*opacity: 0.3;*/
  /*filter: alpha(opacity=30);*/
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
    margin: 10px 0 10px 0;
}

.article p {
    line-height: 20px;
}

/********************
 *
 ********************/
.well-black {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-image: url('/img/opacity-bg-black.png');
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-white {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-image: url('/img/opacity-bg-white.png');
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.black35 {
    background-image: url('/img/opacity-bg-black35.png');
}